{% extends 'layout.html' %}

{% block title %}
    IESCP : Company Registration
{% endblock %}


{% block styles %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        .logo {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            margin-top: 2rem;
        }

        .project-logo {
            width: 100%;
            max-width: 1000px; 
            height: auto; 
            margin-top: 2rem;
        }

        .form-box {
            margin: 3rem auto; 
            width: 40%;
            min-width: 300px;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-box h3 {
            text-align: center; 
            margin-bottom: 1.5rem; 
            font-family: poppins,sans-serif;
            font-weight: 600;
        }

        .form-section {
            margin-bottom: 20px;
        }

        .form-section h3 {
            cursor: pointer;
            background-color: #007bff;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            margin: 0;
        }

        .form-section-content {
            display: none;
            margin-top: 10px;
        }

        .form-group { 
            margin-bottom: 1rem; 
        }

        .form-group label {
            font-size: 1.2rem; 
            font-weight: 600; 
            color: #333; 
        }

        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%; 
            padding: 0.5rem; 
            font-size: 1rem; 
            border: 1px solid #ddd; 
            border-radius: 5px; 
            margin-top: 0.5rem;
        }

        .form-group textarea {
            resize: vertical;
        }

        button[type="submit"] {
            width: 100%; 
            padding: 0.75rem; 
            font-size: 1rem; 
            border: none; 
            border-radius: 5px; 
            background-color: #007bff; 
            color: white; 
            cursor: pointer; 
            margin-top: 1rem;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #0056b3; 
        }

        .submission {
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
            margin-top: 1.5rem;
        }

        @media (max-width: 600px) {
            .form-box {
                width: 80%;
            }
        }
        .form-box .already-registered-text {
            font-size: 1rem; 
            font-weight: 600; 
            color: #333; 
        }
        .form-box .already-registered-text a {
            color: #007bff; 
            text-decoration: none; 
        }
    </style>
{% endblock %}






{% block content %}
    <div class="logo">
        <img src="/static/Project Logo.svg" alt="project-logo" class="project-logo">
    </div>
    <div class="form-box">
        <h3>Company Registration</h3>
        <form method="POST" action="/company_register" enctype="multipart/form-data">
            <div class="form-section">
                <h3>Personal Info</h3>
                <div class="form-section-content">
                    <div class="form-group">
                        <label for="company_name">Company Name</label>
                        <input type="text" id="company_name" name="company_name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="tel" id="phone_number" name="phone_number" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" required>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <h3>Work Profile</h3>
                <div class="form-section-content">
                    <div class="form-group">
                        <label for="industry">Industry</label>
                        <select id="industry" name="industry" onchange="toggleOtherIndustry()" required>
                            <option value="">Select an industry</option>
                            <option value="accomodation">Accomodation</option>
                            <option value="accommodation_food_services">Accommodation and Food Services</option>
                            <option value="administrative_support_waste_management">Administrative and Support and Waste Management and Remediation Services</option>
                            <option value="agriculture_forestry_fishing_hunting">Agriculture, Forestry, Fishing and Hunting</option>
                            <option value="air_transportation">Air Transportation</option>
                            <option value="ambulatory_health_care_service">Ambulatory Health Care Service</option>
                            <option value="amusement_gambling_recreation_industry">Amusement, Gambling and Recreation Industry</option>
                            <option value="animal_production">Animal Production</option>
                            <option value="apparel_manufacturing">Apparel Manufacturing</option>
                            <option value="arts_entertainment_recreation">Arts, Entertainment and Recreation</option>
                            <option value="beverage_tobacco_products_manufacturing">Beverage and Tobacco Products Manufacturing</option>
                            <option value="broadcasting">Broadcasting</option>
                            <option value="building_material_garden_supplies_dealers">Building Material and Garden Equipment and Supplies Dealers</option>
                            <option value="chemical_manufacturing">Chemical Manufacturing</option>
                            <option value="clothing_accessories_stores">Clothing and Clothing Accessories Stores</option>
                            <option value="computer_electronics_products_manufacturing">Computer and Electronics Products Manufacturing</option>
                            <option value="construction">Construction</option>
                            <option value="courier_messenger">Courier and Messenger</option>
                            <option value="other">Other</option>
                        </select>
                        <input type="text" id="other_industry" name="other_industry" placeholder="Please specify" style="display:none;">
                    </div>
                    <div class="form-group">
                        <label for="website">Website URL</label>
                        <input type="url" id="website" name="website" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="social_media">Social Media Link</label>
                        <input type="url" id="social_media" name="social_media" required>
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input type="file" id="logo" name="logo" accept="image/*" required>
                    </div>
                </div>
            </div>

            <div class="form-group submission">
                <button type="submit">Register</button>
            </div>
            <label class="already-registered-text"><a href="{{url_for('company_login')}}">Already a user?</a></label>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function toggleOtherIndustry() {
            var industry = document.getElementById('industry');
            var otherIndustry = document.getElementById('other_industry');
            if (industry.value === 'other') {
                otherIndustry.style.display = 'block';
            } else {
                otherIndustry.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.form-section h3').forEach(function(sectionHeader) {
                sectionHeader.addEventListener('click', function() {
                    let content = this.nextElementSibling;
                    content.style.display = content.style.display === 'none' || content.style.display === '' ? 'block' : 'none';
                });
            });
        });
    </script>
{% endblock %}